//all of main styles
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $mainColor;
}
body {
  padding: 0;
  margin: 0;
}
.item {
  width: 8vw;
  height: 8vw;
  min-width: 90px;
  min-height: 90px;
  background-color: $itemBg;
  border: 1px solid $itemBorder;
  border-radius: 10px;
  display: inline-block;
  margin: 0.5vw;
  cursor: pointer;
  &:hover {
    background-color: $itemBgHover;
  }
}
.header {
  background-color: $headerBg;
  padding: 4vh;
  img {
    width: 15vw;
  }
}
